<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}CRUD projects</title>

</head>

<body>

	<h1>CRUD Manager</h1>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
	{include content}


	<table id="data" width="100%">
		<tr>
			<th>ID</th><th>Název</th><th>Datum odevzdání</th><th>Typ projektu</th><th>Webový projekt</th><th>Akce</th>
		</tr>
        {foreach $projecsOut as $item}
			<tr>
				<td>{$item['id']}</td><td>{$item['name']}</td><td>{$item['date']}</td><td>{$item['typ_project']}</td><td>{$item['web_project']}</td>
				<td><a  n:href="Homepage:edit, id=>$item['id']">Edit</a> | <a n:href="Homepage:delete, id=>$item['id']">Delete</a></td>
                {*<td><a href="{link edit, $item['id']}">Edit</a> | <a href="#">Delete</a></td>*}
			</tr>
        {/foreach}
	</table>

	<footer>
		<div class="hornipaticka">
			<ul class="footermenu">
				<li><a title="Salim Mayaleh - Kontakt" target="_blank" href="http://www.mayaleh.cz/kontakt">Kontakt</a></li>
				<li><a title="Salim Mayaleh - Reference" target="_blank" href="http://www.mayaleh.cz/reference/seznam/weby">Reference</a></li>
			</ul>
			<div class="clr"></div>
			<div class="ftrcontact">
				<a class="email" href="mailto:salim.mayaleh@seznam.cz">salim.mayaleh@seznam.cz</a>
			</div>
		</div>
		<p>By <a title="Salim Mayaleh webiste" target="_blank" href="http://www.mayaleh.cz/">Salim Mayaleh</a> 2018</p>
	</footer>

	{block scripts}
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	{/block}


	<style type="text/css">
		body{
			text-align: center;
		}
		form{
			display: inline-block;
		}
		.info{
			color: #32e164;
			font-weight: bold;
			font-size: 18px;
		}
		.error{
			color: #e13528;
			font-weight: bold;
			font-size: 24px;
		}
		.edit{
			color: #11b2d7;
			font-size: 24px;
		}
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
		}
		th, td {
			padding: 5px;
			text-align: left;
		}
		table#data {
			margin-top:100px;
		}
		table#data td{
			margin-top:100px;
			padding: 8px;
			text-align: center;
		}
		table#data tr:nth-child(even) {
			background-color: #eee;
		}
		table#data tr:nth-child(odd) {
			background-color:#fff;
		}
		table#data th {
			background-color: black;
			color: white;
			padding: 8px;
			text-align: center;
		}
		footer a{
			text-decoration: none;
		}
		footer {
			width: 100%;
			background-color: #011826;
			position: relative;
			margin-top: 30px;
		}
		footer .hornipaticka {
			text-align: center;
			background-color: #023859;
			padding: 20px 0;
		}
		footer .hornipaticka .footermenu {
			display: inline-block;
			padding: 50px 0 25px 0;
		}
		footer .hornipaticka .footermenu li {
			display: block;
			float: left;
			margin: 10px;
		}
		footer .hornipaticka .footermenu li a {
			color: #008ad0;
			padding: 10px;
			border: none;
			transition-duration: 0.4s;
			transition-property: all;
		}
		footer .hornipaticka .ftrcontact {
			display: inline-block;
			padding: 25px 0 80px 0;
		}
		footer .hornipaticka .ftrcontact a {
			font-size: 18px;
			color: #daecfa;
			padding-top: 10px;
			padding-bottom: 10px;
			background-repeat: no-repeat;
			background-position: left center;
			text-decoration: none;
		}
		footer .hornipaticka .ftrcontact a.loc {
			padding-left: 50px;
			margin-right: 25px;
			background-image: url(http://www.mayaleh.cz/media/img/coding.png);
		}
		footer .hornipaticka .ftrcontact a.email {
			padding-left: 50px;
			margin-left: 20px;
			background-image: url(http://www.mayaleh.cz/media/img/email.png);
		}
		footer p {
			width: 50%;
			margin: auto auto;
			text-align: center;
			color: #2de8c8;
			padding: 40px;
		}
		footer p a{
			color: #2de8c8;
			text-decoration: underline;
		}
		.clr {
			clear: both;
		}

	</style>
</body>
</html>
